.user-avatar {
    width: 80px;
    height: 80px;
    margin: 2em auto;
    display: block;
}

.user-avatar-nav {
    margin-top: -3px;
    margin-right: 1em;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.butik-avatar {
    width: 150px;
    height: 100px;
    margin: 2em auto;
    display: block;
}

.butik-avatar-show {
    width: 300px;
    height: 200px;
    margin: 2em auto;
    display: block;
}

#avatar_container {

    height: 202px;

    .dz-preview {
        display: none;
    }

    .dropzone {
        border: 1px dashed rgba(0, 0, 0, 0.3);
        background: rgba($white, .05);
        height: 180px;
        padding: 0;
        border-radius: $standard-radius;
    }

    .dz-message {
        margin-top: -20px 1em 0;
        padding: 0;
        text-align: center;

        &.dz-default {
            margin: 0 2em;
        }
    }
}

.user-image {
    width: 100px;
    height: 100px;
    border: 2px solid $brand-info;
}
