.c-sidebar-brand {
    background: #d45fa1 !important;
}

.c-sidebar {
    background: #952866;
    background:-webkit-linear-gradient(bottom, #952866, #ce4995);
    background:   -moz-linear-gradient(bottom, #952866, #ce4995);
    background:    -ms-linear-gradient(bottom, #952866, #ce4995);
    background:     -o-linear-gradient(bottom, #952866, #ce4995);
    background:        linear-gradient(to top, #952866, #ce4995);

}

.c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-link, .c-sidebar.c-sidebar-minimized .c-sidebar-nav-item:hover > .c-sidebar-nav-dropdown-toggle {
    //background: #006080 !important;
    background: #bd3382;
    background: -webkit-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -moz-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -ms-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -o-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: linear-gradient(to right, #bd3382, #a12c6e) !important;
}

.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    //background: #006080 !important;
    background: #bd3382;
    background: -webkit-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -moz-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -ms-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: -o-linear-gradient(left, #bd3382, #a12c6e) !important;
    background: linear-gradient(to right, #bd3382, #a12c6e) !important;
}

.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #ffffff;
    background: #a12c6e !important;
}

.white-text {
    color: #ffffff;
}

/*Edited textbox color font*/
.form-control {
    color: #0248b6 !important;
}
